<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	 <h:head/>
	 
	 <h:body>
	 
	 	<h:outputText rendered="#{usuarioLogado != null}" value="Usuario: #{sessionScope['usuarioLogado'].email}" />
	 	<div id="cabecalho">
	 	
	 	<h:panelGrid columns="2">
		 	<h:graphicImage library="img" name="logo.png"/>
	 		<h:form rendered="#{usuarioLogado != null}" style="position:absolute; right: 10px">
		 		<p:themeSwitcher id="basic" style="width:165px" value="#{temaBean.tema}">
		 			<f:selectItem itemLabel="Choose Theme" itemValue=""/>
		 			<f:selectItems value="#{temaBean.temas}" var="tema" itemLabel="#{tema}" itemValue="#{tema}"/>
		 			<f:ajax/>
		 		</p:themeSwitcher>
	 		</h:form>
	 	</h:panelGrid>
	 		
			<p:growl id="messages" showDetail="true"/>
	 		
			<h:form rendered="#{usuarioLogado != null}">
				
				 <p:menuButton value="Menu">
					<p:menuitem value="Livros" action="livro?faces-redirect=true" icon="ui-icon-pencil"/>
					<p:menuitem value="Autores" action="autor?faces-redirect=true" icon="ui-icon-pencil"/>
					<p:menuitem value="Vendas" action="vendas?faces-redirect=true" icon="ui-icon-image"/>
					<p:separator/>
					<p:menuitem value="Logout" action="#{loginBean.deslogar}" icon="ui-icon-signout"/>
				</p:menuButton> 
				
			</h:form>
	 		
	 		<h1><ui:insert name="titulo"></ui:insert></h1>	 		
	 	</div>
	 	
 		<div id="conteudo">
 			<ui:insert name="conteudo"></ui:insert>
 		</div>
 		
	 </h:body>	 

</html>