<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	 <h:head/>
	 
	 <h:body>
	 
	 	<h:outputText rendered="#{usuarioLogado != null}" value="Usuario: #{sessionScope['usuarioLogado'].email}" />
	 	<div id="cabecalho">
	 		<h:graphicImage library="img" name="logo.png"/>
	 		
	 		<h:form rendered="#{usuarioLogado != null}">
	 			<h:commandLink value="logout" action="#{loginBean.deslogar}"/>
	 		</h:form>
	 		
	 		<h1><ui:insert name="titulo"></ui:insert></h1>	 		
	 	</div>
	 	
 		<div id="conteudo">
 			<ui:insert name="conteudo"></ui:insert>
 		</div>
 		
	 </h:body>	 

</html>