<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
	
		<f:metadata>
			<f:viewParam name="autorId" value="#{autorBean.autor.id}"/>
			<f:viewAction action="#{autorBean.carregaAutorPelaId}" if="#{param.autorId != null}"/>
		</f:metadata>
	
		<ui:define name="titulo">
			Novo Autor
		</ui:define>
		
		<ui:define name="conteudo">
			<h:form>
				<fieldset>
					<legend>Dados do Autor</legend>
					<h:panelGrid columns="3">
						<h:outputLabel value="Nome:" for="nome" />
						<h:inputText id="nome" value="#{autorBean.autor.nome}"
							required="true">
							<f:validateLength minimum="5" />
						</h:inputText>
						<h:message for="nome" id="messageNome"/>
						
						
						<h:outputLabel value="Email:" for="email" />
						<h:inputText id="email" value="#{autorBean.autor.email}" required="true">
							<f:passThroughAttribute name="type" value="email"/>
						</h:inputText>
						<h:message for="email" id="messageEmail"/>
						
						<h:commandButton value="Gravar" action="#{autorBean.gravar}" />
					</h:panelGrid>
				</fieldset>
			</h:form>
			<h:form id="formTabelaAutores">
				<h:dataTable value="#{autorBean.autores}" var="autor" id="tabelaAutores">
					<h:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{autor.nome}" />
					</h:column>
					<h:column>
						<f:facet name="header">Alterar</f:facet>
						<h:commandLink value="altera" action="#{autorBean.carregar(autor)}" />
					</h:column>
					<h:column>
						<f:facet name="header">Remover</f:facet>
						<h:commandLink value="remove" action="#{autorBean.remover(autor)}"/>
					</h:column>
				</h:dataTable>
			</h:form>
		</ui:define>
		
		<ui:define name="texto">
			Cadastro de Autores
		</ui:define>
		
	</ui:composition>

</html>