<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
	
		<f:metadata>
			<f:viewParam name="autorId" value="#{autorBean.autor.id}"/>
			<f:viewAction action="#{autorBean.carregaAutorPelaId}" if="#{param.autorId != null}"/>
		</f:metadata>
	
		<ui:define name="titulo">
			<p:outputPanel>Novo Autor</p:outputPanel>
		</ui:define>
		
		<ui:define name="conteudo">
			<h:form id="autor">
				<p:fieldset legend="Dados do Autor">
					<h:panelGrid columns="3">
						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{autorBean.autor.nome}"
							required="true">
							<f:validateLength minimum="5" />
						</p:inputText>
						<p:message for="nome" id="messageNome"/>
						
						
						<p:outputLabel value="Email:" for="email" />
						<p:inputText id="email" value="#{autorBean.autor.email}" required="true" validatorMessage="Email invalido">
							<f:attribute name="type" value="email"/>
							<f:passThroughAttribute name="placeholder" value="Email do autor" />
							<f:validateRegex pattern=".+@.+\..+"/>
							<f:ajax event="blur" render="messageEmail"/>
						</p:inputText>
						<p:message for="email" id="messageEmail"/>
						
						<p:commandButton value="Gravar" action="#{autorBean.gravar}" process="@form" update="@form :formTabelaAutores" />
					</h:panelGrid>
				</p:fieldset>
			</h:form>
			<h:form id="formTabelaAutores">
				<p:dataList value="#{autorBean.autores}" var="autor" type="definition">
					<f:facet name="header">
						Autores
					</f:facet>
					
					<p:commandButton update=":autor" action="#{autorBean.carregar(autor)}" 
					icon="fa fa-fw fa-edit"/>
					
					<p:commandButton update="@form" action="#{autorBean.remover(autor)}"
					icon="fa fa-fw fa-remove"/>
					
					#{autor.nome} - #{autor.email}
				</p:dataList>
			</h:form>
		</ui:define>
		
		<ui:define name="texto">
			Cadastro de Autores
		</ui:define>
		
	</ui:composition>

</html>