<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
	
	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
            <p:outputPanel>Testando p:carousel</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">

            <p:messages globalOnly="true" />

            <h:form id="login">
                <p:carousel value="#{livroBean.livros}" headerText="Tabela de livros" var="livro" responsive="true">
                    <p:panelGrid columns="2" style="width:100%;margin:10px 0px" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
                        <f:facet name="header">
                                #{livro.titulo}
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{livro.id}" />

                        <h:outputText value="ISBN" />
                        <h:outputText value="#{livro.isbn}"/>

                        <h:outputText value="Preço" />
                        <h:outputText value="$#{livro.preco}" />
                    </p:panelGrid>

                    <f:facet name="footer">
                            Total de livros: #{fn:length(livroBean.livros)}
                    </f:facet>
                </p:carousel>
            </h:form>
        </ui:define>

    </ui:composition>

</html>