<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
	
	
		<ui:define name="titulo">
			<p:outputPanel>Vendas</p:outputPanel>
		</ui:define>
		
		<ui:define name="conteudo">
			<p:chart type="bar" model="#{vendasBean.vendasModel}" style="height:300px" />
		</ui:define>
		
		<ui:define name="texto">
			Cadastro de Autores
		</ui:define>
		
	</ui:composition>

</html>