<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="_template.xhtml">
	
		<f:metadata>
			<f:viewParam name="livroId" value="#{livroBean.livro.id}"/>
			<f:viewAction action="#{livroBean.carregaLivroPelaId}" if="#{param.livroId != null}"/>
		</f:metadata>
		
		<ui:define name="titulo">
			Nome Livro
		</ui:define>
		
		<ui:define name="conteudo">
			<h:form>
				<p:messages id="messages"/>
				<p:fieldset legend="Dados do Livro">
					<p:panelGrid columns="2">
		
						<p:outputLabel value="Titulo:" for="titulo" />
						<p:inputText id="titulo" value="#{livroBean.livro.titulo}" required="true"
						 requiredMessage="Titulo obrigatório" validatorMessage="Titulo não pode ser superior a 40.">
							<f:validateLength maximum="40"/>
							<f:ajax event="blur" render="messages"/>
						</p:inputText>
		
						<p:outputLabel value="ISBN:" for="isbn" />
						<p:inputMask id="isbn" value="#{livroBean.livro.isbn}" validator="#{livroBean.comecaComDigitoUm}" mask="999-9-99-999999-9">
							<f:ajax event="keyup" render="messages"/>
						</p:inputMask>
		
						<p:outputLabel value="Preço:" for="preco" />
						<p:inputNumber id="preco" value="#{livroBean.livro.preco}">
							<f:validateDoubleRange minimum="1.0" maximum="1000.00"/>
						</p:inputNumber>
		
						<p:outputLabel value="Data de Lançamento:" for="dataLancamento" />
						<p:calendar id="dataLancamento" value="#{livroBean.livro.dataLancamento.time}" 
									timeZone="America/Sao_Paulo" pattern="dd/MM/yyyy" mask="true"/>
						
					</p:panelGrid>
				</p:fieldset>
				<p:fieldset legend="Dados do Autor">
					
					<p:panelGrid columns="4">
						
						<p:outputLabel value="Selecione Autor:" for="autor"/>
						
						<p:selectOneMenu value="#{livroBean.autorId}" id="autor">
							<f:selectItems value="#{livroBean.autores}" var="autor" itemLabel="#{autor.nome}" itemValue="#{autor.id}"/>
						</p:selectOneMenu>
						
						<p:commandButton value="Gravar Autor" action="#{livroBean.gravarAutor}" process="@this autor" update="tabelaAutores"/>
						
						<p:commandLink value="ou cadastrar novo Autor" action="#{livroBean.formAutor}" immediate="true"
										update="@all"/>
					
					</p:panelGrid>
					
					<p:dataList value="#{livroBean.autoresDoLivro}" var="autor" id="tabelaAutores" emptyMessage="Nenhum autor">
						<p:column>
							<h:outputText value="#{autor.nome}"/>
						</p:column>
						<p:column>
						  <p:commandButton icon="fa fa-fw fa-remove" action="#{livroBean.removerAutorDoLivro(autor)}" update="tabelaAutores" process="@this"/>
						</p:column>
					</p:dataList>
					
					
				</p:fieldset>
		
				<p:commandButton value="Gravar" action="#{livroBean.gravar}" process="@form" update="@form :formTabelaLivros:tabelaLivros"/>
			</h:form>
			<h:form id="formTabelaLivros">
				<p:dataTable value="#{livroBean.livroDataModel}" var="livro" id="tabelaLivros"
								rows="5" paginator="true" lazy="true">
					<f:facet name="header">Livros</f:facet>
					<p:column filterBy="#{livro.titulo}" filterMatchMode="startsWith"
								headerText="Titulo" sortBy="#{livro.titulo}">
						<h:outputText value="#{livro.titulo}" />
					</p:column>
					<p:column filterBy="#{livro.isbn}" filterMatchMode="contains"
								headerText="ISBN" sortBy="#{livro.isbn}">
						<h:outputText value="#{livro.isbn}" />
					</p:column>
					<p:column headerText="Preço" sortBy="#{livro.preco}">
						<h:outputText value="#{livro.preco}" />
					</p:column>
					<p:column headerText="Data" sortBy="#{livro.dataLancamento.time}">
					  <h:outputText value="#{livro.dataLancamento.time}">
					      <f:convertDateTime pattern="dd/MM/yyyy" />
					  </h:outputText>
					</p:column>
					<p:column headerText="Alterar">
						<h:commandLink value="altera" action="#{livroBean.carregar(livro)}"/>
					</p:column>
					<p:column headerText="Remover">
						<h:commandLink value="remove" action="#{livroBean.remover(livro)}"/>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
		<ui:define name="texto">
			Cadastro de Livros
		</ui:define>
	</ui:composition>
</html>